canvas {
  cursor: grab;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: #747bb1;
  float: left;
}

.coord-overlay {
  cursor: grab;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 20px;
  border: 1px solid cornflowerblue;
  background: rgba(116, 123, 177, 0.7);
}

.grabbing {
  cursor: grabbing;
}
