canvas {
  cursor: grab;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: #747bb1;
  float: left;
}

.panel-info-left, .panel-info-right {
  cursor: grab;
  position: absolute;
  border: 1px solid cornflowerblue;
  background: rgba(116, 123, 177, 0.7);
}

.panel-info-left {
  top: 0;
  left: 0;
  width: 150px;
  height: auto;
  text-align: center;
}

.panel-info-right {
  padding: 4px;
  top: 0;
  right: 0;
  width: 300px;
  height: auto;
}

.pointer {
  cursor: pointer;
}

.grabbing {
  cursor: grabbing;
}
